<h1 style="color: 'red'">Welcome to example.com, <%= @user.email %></h1>
  <p>
    You have successfully signed up to example.com,
    your email is: <%= @user.email %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>
